/* Image on top */

.image-container {
    margin-bottom: 4vw;
}

.image-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius:1%;
    box-shadow: 2px 2px 2px gray;
}

/* Lunch / Dinner Choice Buttons */

.time-choice-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
}

.time-choice-container button {
    margin: .3vw;
    padding: 1vw 1.5vw;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    border: none;
}

.time-choice-container button:hover {
    background-color: var(--main-color-opacity);
    cursor: pointer;
}

/* Menu: Text */

.menu-div, .menu-prices-lunch {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 10px 2em;
}

.menu-prices-lunch {
    gap: 0 2em;
}

/* Still missing: @media adjustments; will maybe follow at some point, but right now my focus is on the JavaScript */